@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin:0;
    padding: 0;
    font-family: "gill sans", arial, "sans-serif";
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 5%;
    font-family: "gill sans", arial, "sans-serif";
}

header {
    background-color: #330000;
    overflow: hidden;
}

.logo {
    width: 95%;
    float: left;
    padding: .5rem
}

.nav-top {
    clear:both;
    padding: 0;
    margin: 0;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: tan;
    text-align: center;
}

.nav-top li {
    display:inline;
    margin: 0;
    padding: 0;
    font-size: 1.5rem
}

.nav-top a,
.nav-top:link,
.nav-top:visited {
    text-decoration: none;
    display:inline-block;
    margin: 0;
    padding: .5rem 10%;
    color: white;
}

.billboard {
    height: 15rem;
    background-repeat: no-repeat;
    background-image: url(../images/mastheadheadphones.jpg);
    background-size: 100%;
    background-color: gray;
    background-position: top center;
    overflow: hidden;
}

.billboard h2, 
.billboard:link,
.billboard:visited {
    color: black;
    text-decoration: none;
}
.billboard, a {
    text-decoration: none;
}

.billboard h2 {
    text-align: left;
    padding: 1rem;
}

figure {
    margin: 0;
    padding: 0;
}

.odessa {
    text-align: center;
    background-color: tan;
    padding: 0;
    margin: 5%;
}
.odessa a,
.odessa:link,
.odessa:visited {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0
}

figcaption {
    padding: .5rem;
}

.title {
    margin: 1.5rem 5%;
    line-height: 3rem;
    font-size: 2.5rem;
}

hr {
    margin: 1.5rem 30%;
}

.bucket1 {
    overflow: hidden;
    margin: 3rem 5%;
}

.bucket1 div {
    float: left;
    width: 45%;
    margin: 0;
    padding: 0;
    border-style: solid;
}

.bucket1 p {
    float: right;
    width: 50%;
    margin:0;
    padding: 1.5rem 0 0 0;
}

.top { 
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
}

.bottom {
    float: right;
    width: 50%;
    margin: 0;
    padding:0;
}

.socialbuckets {
    clear: both;
    display: inline-block;
    margin: 0 2%;
    padding:0;
    width: 19%;
    align-content: center;
}

footer {
    background-color: #330000;
    overflow: hidden;
    margin: 1.5rem 0 0 0;
    padding: 0 0 6rem 0;
}

footer p {
    color: tan;
}

.bucket1 div,
.bucket1:link,
.bucket1:visited {
    border-color: black;
}

.bucket1 p,
.bucket1:link,
.bucket1:visited {
    color: brown;
    font-size: 1rem;
}

.selected {
    background-color: brown;
}
    


    
    

    
    
    
    
    
    
    
    


    